---
import img1 from '../images/logo.svg'
import Button from './Button.astro'
import Card from './Card.astro'
---
<div class="mx-auto text-center flex flex-col gap-8 min-h-screen justify-center lg:min-h-full lg:py-48">
    <img class="mx-auto pb-6" src={img1.src} alt="">
    <Card text1='A history of everything you copy' text2='Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.' />
    <div class="flex flex-col gap-5 lg:flex-row lg:mx-auto lg:mt-5">
        <Button text='Download for IOS' styles='shadow-pscyan bg-pscyan/90 border-pscyan lg:px-10 hover:bg-pscyan/80' />
        <Button text='Download for Mac' styles='shadow-plblue bg-plblue/90 border-plblue lg:px-10 hover:bg-plblue/80' />
    </div>
    
</div>